.carousel {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 500px;
}

.carousel img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}

.carousel img:hover {
  transform: scale(1.1);
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2em;
  font-weight: bold;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  padding: 0.5em;
  cursor: pointer;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.dot {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background-color: rgba(0,0,0,0.5);
  margin: 0.5em;
  cursor: pointer;
}

.dot.active {
  background-color: #fff;
}

nav img {
  height: 50px; /* adjust to desired height */
  width: auto;
  border-radius: 50%; /* create a circular shape */
  overflow: hidden;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  background-color: #222;
  color: #fff;
  font-size: 1em;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 2em;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

nav ul li a:hover {
  color: #f1c40f;
}

main p {
  font-size: 18px;
  line-height: 1.5;
  margin: 40px 0;
  text-align: justify;
  color: #444;
  font-family: 'Open Sans', sans-serif;
  position: relative; /* add a relative position to the paragraph */
}

main p::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2); /* add a semi-transparent background overlay */
  z-index: -1; /* move the background behind the text */
}

main p::after {
  content: "";
  display: block;
  margin-top: 10px;
  height: 2px;
  background-color: #999;
}

main form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

main form label {
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

main form input[type="text"],
main form input[type="tel"],
main form input[type="email"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ddd;
  margin: 10px 0;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  color: #444;
}

main form input[type="submit"] {
  background-color: #222;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  transition: background-color 0.2s ease-in-out;
}

main form input[type="submit"]:hover {
  background-color: #555;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(117, 112, 112);
  color: white;
  text-align: center;
}
